* {
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.img-wrapper {
    background-image: url(/app/Images/background.jpg);
    background-size: cover;
    height: 100%;
}

.jumbotron {
    text-align: center;
}

footer {
    border-top: 1px solid #ccc;
    margin-top: 300px;
    text-align: center;
}


/* background-image: url(/app/Images/686181-bg.jpg);
background-size: cover; */


/* background-image: url(/app/Images/background.jpg);
background-size: cover;
height: 100%;} */