* {
    box-sizing: border-box;
}

body {
    background-image: url("../Images/686181-bg.jpg");
    background-size: cover;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.header {
    background: rgb(238, 241, 221, 0.3);
    padding: 10px;
    color: #000;
    text-align: center;
}

.btn-placement {
    height: 400px;
}

.button-wrapper {
    text-align: center;
}

.survey-container {
    background: rgb(238, 241, 221, 0.3);
    text-align: justify;
    padding-left: 20px;
}

.questionnaire {
    color: #000;
    text-align: justify;
    padding-left: 20px;
}

.spacer {
    height: 500px;
}

footer {
    border-top: 1px solid #ccc;
    text-align: center;
    background: rgb(238, 241, 221, 0.3);
    padding: 10px;
}